################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Analogy.LogViewer.LoggersTree/bin
/Analogy.LogViewer.LoggersTree/obj
/.history
/Analogy.LogViewer.LoggersTree/Analogy.LogViewer.LoggersTree.csproj.user
/.vs/Analogy.LogViewer.LoggersTree
