################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Analogy.LogViewer.LoggersTree/bin
/Analogy.LogViewer.LoggersTree/obj
